<%= form_for(@topic) do |f| %>
  <div class="field">
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>
  <!-- Udało mi się rozwszyfrować syntax :) -->
  <!-- Dodając hidden_field do form_fora dla obiektu @topic sprawiamy iż w paramsach będzie można znaleźć zapis : -->
  <!-- "topic"=>{"name"=>"ABC", "category_id"=>"2"} -->
  <!-- Czyli dokładnie to o co nam chodziło, teraz trzeba pamiętać aby whitelistować parametry 'name' oraz 'category_id' w kontrolerze -->
  <%= f.hidden_field :category_id, :value => "#{params["category_id"]}" %>
  <div class="button">
    <%= f.submit %>
  </div>
<% end %>
