<h1><%= @topic.name %></h1>

<!-- jak to na forum, trzeba wyśiwtlić dotychczasowe posty -->
<% @topic.posts.each do |post| %>
  <h3> <%= post.user.email %> <%= image_tag post.user.avatar.url(:thumb) %></h3>
  <p>
    <%= post.content %>
  </p>
<% end %>

<!-- zeby można było urzyć @post musieliśmy dodać w topics_controller (bo w jego widoku jesteśmy) -->
<!-- do akcji show ... bo w takim widoku jesteśmy .. zmienną współdzieloną @post -->
<!-- dodatkowo, dodawanie postów jest mozliwe tylko dla zalogowanych użytkowników -->
<%- if user_signed_in? %>
  <%= form_for(@post) do |f| %>
    <div class="field">
      <%= f.label :content %> <br>
      <%= f.text_area :content %>
      <!-- Wykorzystamy nowo poznaną sztuczkę :)))) -->
      <%= f.hidden_field :topic_id, :value => "#{@topic.id}" %>
      <%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
    </div>
    <div class="button">
      <%= f.submit "Send your response" %>
    </div>
  <% end %>
<% end %>
