<% @categories.each do |category| %>
  <p>
    <h2><%= category.name %></h2>
    <!-- Niech tylko zalogowany użytkownik będzie mógł założyć nowy topic-->
    <%- if user_signed_in? %>
      <%= link_to "Create new topic", new_topic_path(category_id: "#{category.id}") %>
    <% end %>
    <!-- Wyświetlmy wszystkie topici dla każdej z kategorii  -->
    <%- category.topics.each do |topic| %>
      <p>
        <!-- jak napiszemy linkt_to 'topic' railsy ogarną że chodzi nam o 'topics_path/topic.id" MAGIA!!!!!! -->
        <%= link_to "#{topic.name}",  topic %>
      </p>
    <% end %>
  </p>
<% end %>
